on: [ "push", "pull_request" ]

name: "Run tests"

jobs:
  nix:
    name: "Run tests *nix"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-18.04, ubuntu-20.04, macos-10.15, macos-11.0 ]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        id: cache-tush
        with:
          path: soft/tush
          key: ${{ runner.os }}-tush-2

      - name: "run tests"
        run: |
          ./makesure_stable
  win:
    name: "Run tests Win"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-2016, windows-2019, windows-2022 ]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        id: cache-tush
        with:
          path: soft/tush
          key: ${{ runner.os }}-tush-3

      - name: "run tests"
        run: |
          & bash -e -c "./makesure_stable"
